html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #0b1220 !important;
}

body {
  min-width: 320px;
  background: #0b1220 !important;
}

#root {
  background: #0b1220 !important;
}